/* CSS Flexbox method */
.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

/* CSS Grid Method
.landing-page{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 8fr 0.5fr; 
    grid-template-areas: 
        "nav"
        "main"
        "footer";
}
*/

/* Designs a navigation bar with the header centered on screen! */
nav{
    display: flex;
    background-color: #0059bc; 
    color: white; 
    justify-content: center;
}

/* For screen width larger than 550px, displays each exhibit in a 2-column grid */
main{
    display: grid;
    background-color: #E8ECEF;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    grid-template-areas:
        ".display-area .display-area"
        ".display-area .display-area"

}

/* Only when screen width is less than or equal to 550px (the equivalent of a mobile phone screen size),
    displays each exhibit vertically! */
@media only screen and (max-width: 550px){
    main{
        background-color: #E8ECEF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
}

/* Designs a footer with the credits centered on screen! */
footer{
    display: flex; 
    background-color: #002b56;
    color: white;
    justify-content: center; 
    flex: 1 1 auto;
}

/* Responsible for adjusting the font size of the text in the header and footer! */
header, footer{
    font-size: 2em; 
    padding: 5%; 
}

/* Designs the exhibit card that contains each CSS-associated testing ground! */
.testing-exhibit-card{
    background-color: #0066cc;
    color: white;
    padding: 4% 6%;
    margin: 4%;
    border-radius: 24px;
}

/* Display area */
.display-area{
    border: 3px solid tomato; 
    /* Converts elements inside display-area named div with flexbox styling*/
    display: flex;
    /* Aligns buttons across vertical axis*/
    justify-content: center;
    /* Aligns buttons across vertical axis*/
    align-items: center; 
    /* Specify gap between each element, 1st number is for vertical, 2nd number is for horizontal */
    gap: 20px 20px; 
    /* Wraps the last element above and follows a reverse order of elements */
    flex-wrap:wrap;
    margin: 10px;
}

/* Buttons */
.button{
    /* Changes the background color of the button to green, default background color */
    background-color:green;
    /* Border for buttons, by default, is 2px solid turquoise */
    border: 2px solid turquoise;
    /* Color of the text inside the button is red by default */
    color: yellow; 
}

/* When the mouse hovers over the buttons!  */
.button:hover{
    /* Changes the background color of the button to purple when hovered */
    background-color: purple;
    transition: linear; 
    /* Changes the color of the text inside the button to white when hovered! */
    color: white;
    width: 15%;
    height: 15%;
}

#press-me:hover{
    /* When mouse hovers over this big button, will enlarge the button's size to 3 times its original size!*/
    transform: scale(3);
}